menu {
	margin:0;
	padding:0;
}
body{
	font: 100% "Trebuchet MS", sans-serif;
	margin: 15px; 50px;
}

#main_content {
border:thin black solid;
background-color:#ECF1F6;
width: 80%;
margin-right: 5%;
border-radius: 1em;
padding: 1em;
vertical-align: center;
}

nav li {
	display:inline;
}

#header{
color:white;
background-color:#4372aa;
border-bottom: thick solid #FF6600;
padding-bottom: 0px;
margin-bottom: 0px;

}

#eyebrow li {
	padding-left: .5em;
	margin-right: .5em;
	/*
	
	margin-left: .5em;
	*/
	border-left: white 2px solid;	
	display: inline;
}
#eyebrow li:first-of-type {
border-left: hidden;
}



#eyebrow a {
	color: white;
}

#eyebrow{
width:50%;
/*height: 15px;*/
height: 1em;

float:right;
color: white;
text-align: right;
margin-right: 1em;
}
#logo {
border: 1px solid #4372aa;
height: 170px;
}

#logo>img {
float: left;
border: 1px solid gray;
margin-right: 25px;
height: 90%;
}

#logo>h1 {
font-size: 300%;
border: 2px solid yellow;
margin-top: 10px;

}

#subtitle{
border: 3px solid green;
padding-bottom: 0px;
margin-bottom: 2px;
}

.subheader {
clear:left;
}

.error_msg {
	font-weight: bold;
	color: #CC0000;
}

#user_id{
}

#post_list {
list-style:none;
list-style-position:inside;
border: blue solid 4px;
padding: 0px;
padding-right: 15px;
}

li.post{
/*border: 2px solid #4372aa;*/
border-bottom: 10px solid #4372aa;
padding-top: 3px;
padding-right: 10px;
padding-left: 10px;
padding-bottom: 0px;
border-radius: 4px;
background-color: white;
margin-top: 10px;
margin-bottom: 20px;
width: 90%;
margin-right: 5%;
margin-left: 5%;

}

.timestamp
{
	padding: 2px;
	border-radius: 3px;
	color: #FF0000;
	font-size: 90%;
	font-style: italic;
	width: 60%;
	margin: 0px;
	/*float: right; */
}

p.post_content{
clear: right;
font-size: 100%;
background-color: white;
border: orange dotted 1px;
padding-top: 5px;
padding-bottom:5px;
} 

input[type="file"] {
	color:red;
	background-color: white;
	border: solid gray 1px;
}

div.follower_list{
border: 1px solid orange;
width: 20%;

}
div.follower_list .button
{
	font-size: 80%;
	width = 12em;
	height = 1em;
}

